version: "3.9"

services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: uth-confms-backend
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    depends_on:
      - db
    volumes:
      - ./server/src:/app  # mount code để dev thay đổi tự động reload

  db:
    image: postgres:15
    container_name: uth-confms-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
